@font-face {
    font-family: "SuisseIntl";
    src: url("../fonts/sSuisseIntl-Light.woff2") format("woff2"), url("../fonts/SuisseIntl-Light.woff") format("woff");
    font-style: normal;
    font-display: swap;
    font-weight: 300;
}

@font-face {
    font-family: "SuisseIntl";
    src: url("../fonts/SuisseIntl-Regular.woff2") format("woff2"), url("../fonts/SuisseIntl-Regular.woff") format("woff");
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: "SuisseIntl";
    src: url("../fonts/SuisseIntl-Medium.woff2") format("woff2"), url("../fonts/SuisseIntl-Medium.woff") format("woff");
    font-style: normal;
    font-display: swap;
    font-weight: 500;
}

@font-face {
    font-family: "SuisseIntl";
    src: url("../fonts/SuisseIntl-SemiBold.woff") format("woff2"), url("../fonts/SuisseIntl-SemiBold.woff") format("woff");
    font-style: normal;
    font-display: swap;
    font-weight: 600;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* --------------------------------------------------- */

body {
    font-family: "SuisseIntl", "sans-serif";
    color: #000;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 100px;
    transition: .2s ease-in;
}

.title {
    margin-bottom: 65px;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    color: #000;
}

/* -----header----- */

.header {
    position: absolute;
    width: 100%;
    z-index: 10;
}

.header__container {
    display: flex;
    min-height: 110px;
    align-items: center;
}

.logo {
    font-weight: 900;
    font-size: 24px;
    line-height: 27px;
    text-transform: uppercase;
    transition: .2s ease-out;
    color: #fff;
    transition: .2s ease-in;

}

.logo:focus {
    outline-offset: 4px;
    outline: 2px solid #fff;
}

.header__logo {
    margin-right: 290px;
}


.header__burger {
    display: none;
}

.menu {
    display: block;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
}

.menu__item:not(:last-child) {
    margin-right: 52px;
    transition: .2s ease-in;
}

.menu__link {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    outline: none;
    transition: .2s ease-out;
}

.menu__link:hover {
    color: #B48547;
}

.menu__link:focus {
    outline: 2px solid #B48547;
    outline-offset: 4px;
}

.socials {
    display: flex;
    flex-wrap: wrap;
}

.socials__header {
    margin-left: auto;
    transition: .2s ease-in;
}

.socials__item:not(:last-child) {
    margin-right: 26px;
}

.socials__item:focus {
    outline: 2px solid #B48547;
    outline-offset: 4px;
}

.socials__item--fb {
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(../images/header/social-fb.svg);
    background-repeat: no-repeat;
}

.socials__item--vk {
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(../images/header/social-vk.svg);
    background-repeat: no-repeat;
}

.socials__item--inst {
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(../images/header/social-inst.svg);
    background-repeat: no-repeat;
}

.socials__item--fb, .socials__item--vk, .socials__item--inst {
    transition: .2s ease-out;
}

.socials__item--fb:hover, .socials__item--vk:hover, .socials__item--inst:hover {
    opacity: 0.8;
}



@media (max-width:1024px) {
    body.lock {
        overflow: hidden;
    }
.header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
}
.header__burger span {
    position: absolute;
    top: 9px;
    left: 0;
    height: 2px;
    width: 100%;
    width: 100%;
    background-color: ivory;
    transition: all .3s ease;
}
.header__burger::before, .header__burger::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: ivory;
    transition: all .3s ease;
}
.header__burger::before {
    top: 0;
}
.header__burger::after {
    bottom: 0;
}

.header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
}
.header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
}
.header__burger.active span {
    transform: scale(0);
}






}











/* -----main-----*/

.page__main-block {
    background-image: url(../images/main/hero-img.png);
    background-color: #B48547;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 70% auto;
    color: #fff;
}

.main-block__container {
    display: flex;
    margin: 0 auto;
    width: 600px;
    transition: .2s ease-in;
}

.main-block__body {
    position: relative;
    right: -90px;
    padding: 266px 0px 200px 0px;
    transition: .2s ease-in;
}

.main-block__heading {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 70px;
    line-height: 81px;
    text-transform: uppercase;
    transition: .2s ease-in;
}

.main-block__subtitle {
    margin-left: -300px;
}

.main-block__text {
    margin-bottom: 40px;
    max-width: 550px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    transition: .2s ease-in;
}

.button {
    padding: 15px 25px;
    border-radius: 10px;
    line-height: 19px;
    border: none;
    color: #fff;
    background: #B48547;
    transition: all .1s ease;
    cursor: pointer;
}

.button:focus {
    outline: #B48547 3px solid;
    outline-offset: -1px;
    background: #fff;
    color: #B48547;
}

.button:hover {
    box-shadow: 0px 0px 14px 4px rgba(105, 104, 104, 0.6);
}

/* -----services----- */

.services {
    padding-top: 150px;
    padding-bottom: 130px;
}

.services__body {
    display: flex;
    flex-wrap: wrap;
}

.services__column {
    flex: 0 1 33.33%;
}

.transparent-card {
    position: relative;
    display: block;
    padding: 30px;
    background-size: cover;
    background-position: center;
    outline: 2px solid #B48547;
    outline-offset: -1px;
    cursor: pointer;
    transition: .2s ease;
}

.transparent-card__title {
    flex: 1 0 auto;
    min-height: 40px;
    max-width: 200px;
    height: 130px;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
}

.transparent-card:hover .transparent-card__title, .transparent-card:hover .transparent-card__price {
    color: #fff;
}

.transparent-card:hover .transparent-card__link::after {
    background-image: url(../images/services/arrow-white.svg);
    background-position: right bottom;
}

.transparent-card__price {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #7C7C7C;
}

.transparent-card__link {
    position: relative;
    width: 19px;
    height: 19px;
    background-image: url(../images/services/arrow-service.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    outline: none;
}

.transparent-card__link::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.transparent-card__link:focus:after {
    outline: #B48547 2px solid;
    outline-offset: 4px;
}

/* .transparent-card__price::after {
    content: '';
    position: absolute;
    width: 19px;
    height: 19px;
    right: 0;
    mask-image: url(../images/services/arrow-service.png);
    -webkit-mask-image: url(../images/services/arrow-service.png);
    mask-size: contain;
    -webkit-mask-size: contain;
    background-color: #B48547;
} */

.transparent-card--bg-1:hover {
    background-image: url(../images/services/services_1.jpg);
}

.transparent-card--bg-2:hover {
    background-image: url(../images/services/services_2.jpg);
}

.transparent-card--bg-3:hover {
    background-image: url(../images/services/services_3.jpg);
}

.transparent-card--bg-4:hover {
    background-image: url(../images/services/services_4.jpg);
}

.transparent-card--bg-5:hover {
    background-image: url(../images/services/services_5.jpg);
}

.transparent-card--bg-6:hover {
    background-image: url(../images/services/services_6.jpg);
}

.transparent-card--bg-7:hover {
    background-image: url(../images/services/services_7.jpg);
}

.transparent-card--bg-8:hover {
    background-image: url(../images/services/services_8.jpg);
}

/* -----help----- */

.help {
    padding-bottom: 100px;
    color: #000000;
}

.help__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
}

.help__column {
    flex: 0 1 33.33%;
    padding: 0 20px;
}

.help__column:not(:last-child) {
    margin-bottom: 70px;
}

.info-card {
    padding-top: 94px;
    background-repeat: no-repeat;
    background-position: left top;
}

.info-card--bg-1 {
    background-image: url(../images/help/help-1.svg);
}

.info-card--bg-2 {
    background-image: url(../images/help/help-2.svg);
}

.info-card--bg-3 {
    background-image: url(../images/help/help-3.svg);
}

.info-card--bg-4 {
    background-image: url(../images/help/help-4.svg);
}

.info-card--bg-5 {
    background-image: url(../images/help/help-5.svg);
}

.info-card__title {
    margin-bottom: 20px;
    max-width: 370px;
    font-weight: 600;
    font-size: 24px;
    line-height: 27px;
    text-transform: none;
}

.info-card__text {
    max-width: 370px;
    font-weight: 400;
    line-height: 24px;
}

/* -----team----- */

.team {
    color: #000000;
    padding-bottom: 130px;
}

.team__title {
    margin-bottom: 16px;
}

.team__body {
    display: flex;
    margin: 0 -15px;
}

.team__column {
    flex: 0 1 33.33%;
    padding: 0 15px;
    width: 33.33%;
}

.team__column:nth-child(1) {
    margin-top: 84px;
}

.team__column:nth-child(2) {
    margin-top: 190px;
}

.item-team__image {
    position: relative;
    margin-bottom: 26px;
}

.item-team__image img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-team__image::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    display: block;
    width: 65px;
    height: 58px;
    background-image: url(../images/team/quote.svg);
}

.item-team__text {
    margin-bottom: 42px;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
}

.item-team__name {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 27px;
}

.item-team__position {
    margin-bottom: 18px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #7C7C7C;
}

.item-team__info {
    max-width: 300px;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.item-team__years {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.item-team__ask {
    position: relative;
    display: inline-block;
    padding-left: 40px;
    background-image: url(../images/team/team-arrow.svg);
    background-repeat: no-repeat;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #B48547;
    transition: all .2s ease;
}

.item-team__ask::after {
    content: '';
    position: absolute;
    left: 40px;
    bottom: -2px;
    height: 1px;
    width: 0px;
    background: #B48547;
    transition: .2s ease-out;
}

.item-team__ask:hover:after {
    width: 138px;
}

.item-team__ask:focus {
    outline: #B48547 2px solid;
    outline-offset: 4px;
}

/* -----faq----- */

.faq {
    padding-bottom: 130px;
    color: #000000;
}

.faq__body {
    margin: 0 auto;
}

.item-faq {
    position: relative;
    border-bottom: 1px solid #B48547;
}

.item-faq__title {
    position: relative;
    padding: 35px 0;
    display: inline-block;
    width: 100%;
    padding-left: 17%;
    padding-right: 17%;
    text-align: left;
    font-weight: 600;
    font-size: 24px;
    line-height: 27px;
    color: #111;
    background: none;
    border: none;
    cursor: pointer;
}

.item-faq__title:focus {
    outline: 3px solid #B48547;
    color: #B48547;
}

.item-faq__title::before {
    content: '';
    position: absolute;
    top: 50px;
    left: 50px;
    width: 20px;
    height: 40px;
    background-image: url(../images/faq-question.svg);
    background-repeat: no-repeat;
}

.item-faq__title::after {
    content: '';
    position: absolute;
    top: 50px;
    right: 20px;
    width: 30px;
    height: 30px;
    background-image: url(../images/faq-more.svg);
    background-repeat: no-repeat;
    transition: all .2s ease;
}

.item-faq__title:hover {
    color: #B48547;
    transition: .2s;
}

.item-faq__title.active::after {
    transform: rotate(45deg);
}

.item-faq__descr {
    display: none;
    max-width: 780px;
    margin-left: 17%;
    padding: 20px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.item-faq:first-child {
    border-top: 1px solid #B48547;
}

/* -----knowledge----- */

.knowledge {
    padding-bottom: 130px;
    color: #000000;
    overflow: hidden;
}

.knowledge__nav {
    display: flex;
    margin-bottom: 37px;
    padding-bottom: 12px;
}

.nav__link {
    display: flex;
    flex: 0 1 33.33%;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid #7C7C7C;
    color: #000000;
}

.nav__link:hover, .nav__link--active {
    padding-bottom: 6px;
    transition: .2s ease-out;
    border-bottom: 3px solid #B48547;
    color: #B48547;
}

.nav__link:focus {
    outline: 2px solid #B48547;
    outline-offset: 4px;
    color: #B48547;
}

.knowledge__slider {
    margin-right: -6px;
    overflow: inherit;
}

.slider-slide {
    display: flex;
    flex-direction: column;
    min-width: 414px;
    margin-right: -1px;
    height: auto;
    border: 1px solid #7C7C7C;
}

.slider-slide:hover {
    border: 1px solid #B48547;
}

.slider-image img {
    position: relative;
    display: block;
    z-index: -1;
    max-width: 100%;
}

.slider-content {
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 100%;
}

.slider-content__title {
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 24px;
    line-height: 27px;
}

.slider-content__date {
    min-height: 90px;
    font-size: 14px;
    line-height: 24px;
    color: #7C7C7C;
}

.slider-content__statistic {
    display: flex;
    margin-top: auto;
    background-image: url(../images/services/arrow-service.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.statistic__views {
    position: relative;
    padding-left: 28px;
}

.statistic__views::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 16px;
    background-image: url(../images/blog/blog-eye.svg);
    background-repeat: no-repeat;
}

.statistic__comments {
    position: relative;
    padding-left: 50px;
}

.statistic__comments::before {
    content: '';
    position: absolute;
    top: 0;
    left: 24px;
    width: 22px;
    height: 16px;
    background-image: url(../images/blog/blog-comment.svg);
    background-repeat: no-repeat;
}
.knowledge__slider .swiper-pagination {
    bottom: -30px;
}
.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
}
.swiper-pagination-bullet-active {
    background-color: #B48547;
}

/* ---blog--- */

.slick-track {
    display: flex;
}

.slick-list {
    overflow: hidden;
}

.blog__list .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog__list .slick-dots li {
    margin: 0 10px;
    list-style: none;
}

.blog__list .slick-dots button {
    width: 10px;
    height: 10px;
    font-size: 0;
    background-color: #B48547;
    border-radius: 50%;
    border-style: none;
}

.blog__list .slick-dots li.slick-active button {
    background-color: transparent;
    border: #B48547 1px solid;
}

.item-news__body {
    display: flex;
    flex-direction: column;
}

.news-body__title {
    min-height: 108px;
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 24px;
    line-height: 27px;
}

.news-body__date {
    margin-bottom: 70px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #7C7C7C;
}

/* -----footer-----*/

.footer {
    padding: 90px 0 40px;
    background: rgb(180, 133, 71);
    background: linear-gradient(90deg, rgba(180, 133, 71, 1) 39%, rgba(237, 237, 237, 1) 39%);
}

.footer__row {
    display: flex;
}

.footer__column {
    display: flex;
    flex-direction: column;
}

.footer__column-small {
    width: 100%;
    max-width: 515px;
}

.footer__column--color--white {
    color: #fff;
}

.footer__logo {
    display: block;
    margin-bottom: 94px;
}

.footer__logo:focus {
    max-width: 150px;
}

.footer__column-title {
    max-width: 250px;
    margin-bottom: 57px;
    font-weight: 600;
    font-size: 24px;
    line-height: 27px;
    text-transform: none;
    color: #fff;
}

.vcard {
    margin-bottom: auto;
}

.adr {
    line-height: 24px;
    font-style: normal;
}

.tel {
    display: block;
    margin-bottom: 16px;
}

.tel:focus {
    outline: 2px solid #B48547;
    outline-offset: 4px;
}

.tel a {
    color: #fff;
}

.locality {
    display: block;
    margin-bottom: 16px;
}

.socials__footer {
    margin-bottom: 77px;
}

.socials__item-footer:focus {
    outline: 2px solid #fff;
    outline-offset: 4px;
}

.footer__column-copyrights {
    font-size: 14px;
    line-height: 24px;
}

form {
    margin-bottom: 58px;
}

.footer__column-title {
    margin-bottom: 65px;
}

.industry-form {
    margin-bottom: 32px;
}

.industry-form__btn {
    display: block;
    min-width: 285px;
    border-radius: 10px;
    background-color: #D3D3D3;
    background-image: url(../images/footer-arrow.svg);
    background-repeat: no-repeat, repeat;
    background-position: 90% center;
    border: none;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.industry-form__btn:focus {
    outline: 3px solid #B48547;
}

.form__title {
    display: block;
    margin-bottom: 14px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.form__btn {
    position: relative;
    padding: 13px 25px;
}

.staff-form {
    margin-bottom: 32px;
    padding: inherit;
    border: none;
}

.staff-form__wrapper {
    display: flex;
}

.staff-form__btn {
    margin-right: 16px;
    border: none;
}

.form__name {
    position: relative;
    pointer-events: none;
}

.form__input {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}
input [type = radio] {
    display: none;
}
.form__input::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 10px;
    border: 1px solid transparent;
    background: #D3D3D3;
    transition: .2s ease;
}

.form__input:checked::before {
    border-color: #B48547;
    background: #fff;
}

.form__input:hover::before {
    background: #fff;
}

.form__input:focus::before {
    border: 2px solid #B48547;
    background: #D3D3D3;
}

.tax-form {
    padding: inherit;
    border: none;
}

.tax-form__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -16px;
}

.tax-form__btn {
    width: calc(50% - 8px);
    margin-bottom: 16px;
}

.footer__button {
    padding: 18px 25px;
    max-width: 182px;
    margin-bottom: 50px;
}

.footer__agreement {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #7C7C7C;
}

.footer__agreement-link {
    color: #B48547;
    transition: .2s ease;
}

.footer__agreement-link:hover {
    border-bottom: #B48547 1px solid;
}

.footer__agreement--reserve {
    display: none;
}

/* @media (max-width: 1300px) {
    .footer__column-copyrights {
        font-size: 14px;
        line-height: 18px;
    }
    .footer__column-small {
        max-width: 450px;
    }
    .form__btn {
        padding: 12px 12px;
    }
} */

/* --------------------1400px-------------------- */

/* main-block */

@media (max-width: 1400px) {
    .page__main-block {
        background-size: 75% auto;
    }
    .header__logo {
        margin-right: auto;
    }
    .menu__item:not(:last-child) {
        margin-right: 30px;
    }
    .socials__header {
        margin-left: 70px;
    }
    .socials__item:not(:last-child) {
        margin-right: 16px;
    }
    .main-block__heading {
        font-size: 66px;
        line-height: 72px;
    }
    .main-block__subtitle {
        margin-left: -270px;
    }
}

/* --------------------1280px-------------------- */

/* ----------main-block---------- */

@media (max-width: 1280px) {
    .page__main-block {
        background-size: cover;
    }
    .header__logo {
        margin-right: auto;
    }
    .container {
        padding: 0 80px;
    }
    .main-block__body {
        position: static;
        padding-left: 80px;
    }
    .main-block__subtitle {
        margin-left: 0 !important;
    }
    .main-block__container {
        width: 100%;
    }
}

/* --------------------1200px-------------------- */

/* footer  */

@media (max-width: 1200px) {
    .footer__column-small {
        max-width: 420px;
    }
    .form__btn {
        padding: 12px 20px;
    }
}

/* --------------------1100px-------------------- */

/* footer  */

@media (max-width: 1100px) {
    .footer__column-small {
        max-width: 370px;
    }
    .footer__column-copyrights {
        max-width: 300px;
        line-height: 20px;
    }
}

/* --------------------1024px-------------------- */

/* main-block */

@media (max-width: 1024px) {
    .socials__header, .header__menu {
        display: none;
    }
    .menu__link {
        font-weight: 500;
    }
    .menu__item:not(:last-child) {
        margin-right: 30px;
    }
    .main-block__body {
        padding: 200px 10px 180px 80px;
    }
    .main-block__heading {
        margin-bottom: 16px;
        font-size: 58px;
        line-height: 66px;
    }
}

/* services */

@media (max-width: 1024px) {
    .services {
        padding-top: 130px;
        padding-bottom: 100px;
    }
    .transparent-card__title {
        height: 100px;
    }
    .services__column {
        flex: 0 1 50%;
    }
}

/* help */

@media (max-width: 1024px) {
    .help {
        padding-bottom: 100px;
    }
    .info-card__title {
        font-size: 22px;
        line-height: 24px;
    }
    .info-card__text {
        line-height: 22px;
    }
    .help__column {
        flex: 0 1 50%;
    }
}

/* team */

@media (max-width: 1024px) {
    .team__title {
        margin-bottom: 65px;
    }
    .item-team__text {
        margin-bottom: 30px;
        font-weight: 500;
        font-size: 22px;
        line-height: 24px;
    }
    .team__column:nth-child(1), .team__column:nth-child(2) {
        margin-top: 0;
    }
    .team {
        padding-bottom: 100px;
    }
    .item-team__name {
        font-size: 20px;
        line-height: 24px;
    }
    .item-team__position {
        margin-bottom: 10px;
    }
    .item-team__years {
        margin-bottom: 30px;
    }
    .item-team__ask {
        padding-left: 30px;
    }
}

/* faq */

@media (max-width: 1024px) {
    .faq {
        padding-bottom: 100px;
    }
    .item-faq__title {
        padding: 20px 0;
        padding-left: 10%;
        padding-right: 10%;
        font-weight: 500;
    }
    .item-faq__title::before {
        top: 36%;
        left: 2%;
    }
    .item-faq__title::after {
        top: 36%;
        right: 2%;
    }
    .item-faq__descr {
        margin-left: 10%;
        padding: 10px 0;
    }
}

/* knowledge */

@media (max-width: 1024px) {
    .knowledge {
        padding-bottom: 100px;
    }
    .slider-content__title {
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 22px;
        line-height: 25px;
    }
    .knowledge__nav {
        margin-bottom: 32px;
    }
}

/* footer  */

@media (max-width: 1024px) {
    .footer {
        padding-bottom: 100px;
        padding-top: 80px;
        background: rgb(180, 133, 71);
    }
    .footer__title {
        margin-bottom: 50px;
        font-size: 40px;
        line-height: 40px;
        color: #fff;
    }
    .form__title {
        color: #fff;
    }
    .footer__row {
        flex-direction: column;
    }
    .footer__column-small {
        max-width: unset;
        order: 2;
    }
    .footer__agreement {
        display: none;
    }
    .footer__agreement--reserve {
        display: block;
    }
    .footer__button {
        background: #fff;
        color: #B48547;
    }
    .staff-form, .industry-form {
        margin-bottom: 26px;
    }
    form {
        margin-bottom: 40px;
    }
    .footer__logo {
        margin-bottom: 30px;
        font-size: 32px;
    }
    .footer__column-title {
        max-width: unset;
        margin-bottom: 30px;
    }
    .vcard {
        margin-bottom: 30px;
    }
    .footer__agreement--reserve {
        margin-bottom: 10px;
        color: #fff;
        line-height: 16px;
    }
    .footer__agreement-link {
        color: #fff;
    }
    .footer__agreement-link:hover {
        text-decoration: underline;
    }
    .socials__footer {
        margin-bottom: 50px;
    }
    .footer__column-copyrights {
        max-width: unset;
    }
}

/* --------------------768px-------------------- */

/* main-block */

@media (max-width: 768px) {
    .container {
        padding: 0 50px;
    }
    .logo {
        font-size: 20px;
    }
    .main-block__body {
        padding-left: 50px;
    }
    .main-block__heading {
        font-size: 54px;
        line-height: 56px;
    }
    .main-block__text {
        max-width: 480px;
        margin-bottom: 40px;
        font-size: 16px;
        line-height: 18px;
    }
}

/* services */

@media (max-width: 768px) {
    .transparent-card {
        padding: 20px;
    }
    .transparent-card__title {
        font-size: 16px;
        line-height: 18px;
    }
    .title {
        margin-bottom: 50px;
        font-size: 40px;
        line-height: 40px;
    }
}

/* help */

@media (max-width: 768px) {
    .help__body {
        margin: 0 -10px;
    }
    .help__column {
        padding: 0 10px;
        margin-bottom: 40px;
    }
    .help__column:not(:last-child) {
        margin-bottom: 50px;
    }
    .info-card__title {
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 20px;
    }
    .info-card__text {
        font-size: 14px;
        line-height: 20px;
    }
    .info-card {
        padding-top: 80px;
    }
}

/* team */

@media (max-width: 768px) {
    .team__title {
        margin-bottom: 50px;
        font-size: 40px;
        line-height: 40px;
    }
    .team__body {
        display: block;
    }
    .team__column {
        flex: 0 1 50%;
        width: 100%;
    }
    .item-team__info {
        max-width: initial;
        margin-bottom: 6px;
    }
    .item-team__text {
        margin-bottom: 20px;
    }
    .item-team__years {
        margin-bottom: 20px;
    }
    .team__column:not(:last-child) {
        margin-bottom: 30px;
    }
}

/* faq */

@media (max-width: 768px) {
    .item-faq__title {
        font-size: 22px;
        line-height: 25px;
    }
}

/* knowledge */

@media (max-width: 768px) {
    .nav__link {
        justify-content: center;
        font-size: 12px;
    }
    .slider-content {
        padding: 20px;
    }
}

/* --------------------576px-------------------- */

/* main-block */

@media (max-width: 576px) {
    .container {
        padding: 0 20px;
    }
    .main-block__body {
        padding-left: 30px;
        padding-top: 180px;
    }
    .main-block__heading {
        font-size: 28px;
        line-height: 32px;
    }
    .main-block__text {
        max-width: 420px;
        margin-bottom: 30px;
        font-size: 14px;
        line-height: 16px;
    }
}

/* services */

@media (max-width: 576px) {
    .services__column {
        flex: 0 1 100%;
    }
    .services {
        padding-top: 100px;
        padding-bottom: 70px;
    }
    .title {
        margin-bottom: 30px;
        font-size: 22px;
        line-height: 32px;
    }
}

/* help */

@media (max-width: 576px) {
    .help__column {
        flex: 0 1 100%;
        margin-bottom: 30px;
    }
    .info-card__title {
        max-width: 100%;
    }
    .info-card {
        padding-top: 70px;
    }
    .info-card__text {
        max-width: 100%;
    }
    .help {
        padding-bottom: 70px;
    }
    .help__column:not(:last-child) {
        margin-bottom: 40px;
    }
}

/* team */

@media (max-width: 576px) {
    .team__title {
        margin-bottom: 30px;
    }
    .team {
        padding-bottom: 70px;
    }
}

/* faq */

@media (max-width: 576px) {
    .faq {
        padding-bottom: 70px;
    }
    .item-faq__title::before {
        display: none;
    }
    .item-faq__title::after {
        right: 0;
        top: 20%;
    }
    .item-faq__title {
        padding: 18px 0;
        padding-left: 0;
        padding-right: 10%;
        font-size: 16px;
        line-height: 20px;
    }
    .item-faq__descr {
        margin-left: 0;
    }
}

/* footer  */

@media (max-width: 576px) {
    .footer__title {
        margin-bottom: 30px;
        font-size: 34px;
    }
    .footer {
        padding-bottom: 70px;
        padding-top: 70px;
    }
    .industry-form__btn {
        width: 100%;
        background-position: 94% center;
    }
    .staff-form__wrapper {
        flex-wrap: wrap;
    }
    .form__btn {
        flex: 1 0 46%;
        margin-bottom: 8px;
        margin-right: 0;
    }
    .form__btn:nth-child(odd) {
        margin-right: 8px;
    }
}

/* knowledge */

@media (max-width: 576px) {
    .knowledge {
        padding-bottom: 70px;
    }
    .nav__link-subtitle {
        display: none;
    }
    .nav__link {
        justify-content: center;
    }
    .slider-slide {
        min-width: 250px;
    }
    .slider-content__title {
        margin-bottom: 6px;
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
    }
    .statistic__views {
        padding-left: 25px;
        font-size: 14px;
    }
    .statistic__comments {
        padding-left: 40px;
    }
    .statistic__comments::before {
        left: 16px;
    }
    .slider-content__date {
        min-height: 55px;
    }
    .slider-content {
        padding: 15px;
    }
}

/* --------------------420px-------------------- */

/* footer  */

@media (max-width: 420px) {
    .form__btn {
        flex: 1 0 100%;
    }
}